$zoom-blue:#0E72ED;
$zoom-select-blue:#0956B5;
$zoom-gray:#F7F9FA;
$zoom-white:#FFFFFF;
$footer-color:#39394D;
$room-background-color: #1A1A1A;
$room-footer-color:#111111;
$room-btn-gray:#A0A0A0;
$room-btn-green:#23D959;
$room-btn-red:#E02828;
$room-btn-select:#424345;
$room-leave-select:#FF0000;

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  }
  
  .modal-container {
    width: 360px;
    border-radius: 8px;
    background-color: $zoom-white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 9;
  }

  .modal2-container {
    width: 360px;
    border-radius: 8px;
    background-color: $zoom-white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 9;
  }
  .modal2-body-text{
    padding: 7px;
  }
  .crop-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview-container{
    margin-top: 20px;
  }
  .modal-title {
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding-left: 6px;
    font-size: 18px;
    
  }
  
  .title-close-btn {
    display: flex;
    justify-content: space-between;
  }
  
  .title-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
  }
  .title-close-btn button:hover{
    background-color: $room-btn-red;
    color:$zoom-white
  }
  
  .modal-container .modal-body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .modal-container .modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal2-container .modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container .modal-footer button {
    width: 100px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: $room-btn-red;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid $zoom-gray;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
  }

  .modal2-container .modal-footer button {
    width: 120px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: $room-btn-red;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid $zoom-gray;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    position: relative;
  }
  .change-avatar-loading{
    width: 15px;
    position: absolute;
    top: 13px;
    left: 9px;
  }

  .modal-container .modal-footer button:hover{
    background-color: $zoom-blue;
  }
  
  .modal2-container .modal-footer button:hover{
    background-color: $zoom-blue;
  }

  #modal-cancel-btn {
    background-color: $zoom-gray;
    color: black;
  }
  #modal-cancel-btn:hover{
    background-color: $zoom-blue;
    color: white;
  }

  .original-img, .crop-img{
    width: 150px;
    object-fit: cover;

  }