$zoom-blue:#0E72ED;
$zoom-select-blue:#0956B5;
$zoom-gray:#F7F9FA;
$zoom-white:#FFFFFF;
$footer-color:#39394D;
$room-background-color: #1A1A1A;
$room-footer-color:#111111;
$room-btn-gray:#A0A0A0;
$room-btn-green:#23D959;
$room-btn-red:#E02828;
$room-btn-select:#424345;
$room-leave-select:#FF0000;


body{
  height: 100%;
  width:100%;
  position: relative;
}

.navigator-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid $room-btn-gray;
}
.nav-function-container{
  font-weight: 600;
  display: flex;
  gap:20px
}

.nav-logo{
  color:$zoom-blue;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}
.signin-up{
  cursor: pointer;
}
.member{cursor: pointer;}


.footer{
  display: flex;
  height: 30px;
  background-color: $footer-color;
  color:$zoom-white;
  font-size:11px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}


.nav-avatar-img{
  width: 30px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.nav-drawer-container{
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: $zoom-white;
  border: 1px solid $zoom-gray;
  filter: drop-shadow(0 0 0.2rem $room-btn-gray);
  cursor: pointer;
}
.nav-schedule, .nav-join, .nav-host{
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-signIn-Up{
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}

.drawer-item{
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.drawer-item:hover{
  background-color: $zoom-gray;
}

