$zoom-blue:#0E72ED;
$zoom-gray:#F7F9FA;
$zoom-white:#FFFFFF;
$footer-color:#39394D;
$room-back-color: #1A1A1A;
$room-footer-color:#111111;
$room-btn-gray:#A0A0A0;
$room-btn-green:#23D959;
$room-btn-red:#E02828;


body{
  height: 100%;
  width:100%;
  position: relative;
}

.navigator-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid $room-btn-gray;
}
.nav-function-container{
  font-weight: 600;
  display: flex;
  gap:20px
}

.nav-logo{
  color:$zoom-blue;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}
.signin-up{
  cursor: pointer;
}
.member{cursor: pointer;}


.footer{
  display: flex;
  height: 30px;
  background-color: $footer-color;
  color:$zoom-white;
  font-size:11px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
