$zoom-blue:#0E72ED;
$zoom-select-blue:#0956B5;
$zoom-gray:#F7F9FA;
$zoom-white:#FFFFFF;
$footer-color:#39394D;
$room-background-color: #1A1A1A;
$room-footer-color:#111111;
$room-btn-gray:#A0A0A0;
$room-btn-green:#23D959;
$room-btn-red:#E02828;
$room-btn-select:#424345;
$room-leave-select:#FF0000;


.sign-in-up-container{
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #F7F9FA;
    filter: drop-shadow(0 0 0.2rem gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sign-in-up-title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding: 10px;
}

.sign-in-up-btn{
    text-align: center;
    width: 240px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $zoom-blue;
    border: 1px solid #e5e5e5;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.sign-in-up-btn:hover{
    background-color: $zoom-select-blue;
}

.sign-in-up-page-container{
    overflow: auto;
    width: 100%;
    height: calc(100vh - 83px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-sign-in-up{
    margin: auto;
    text-align: center;
    cursor: pointer;
    color: $zoom-blue;
    margin-bottom: 10px;
}

.switch-sign-in-up:hover{
    text-decoration: underline;
}