$zoom-blue:#0E72ED;
$zoom-select-blue:#0956B5;
$zoom-gray:#F7F9FA;
$zoom-gray-select:#d3d3d3;
$zoom-white:#FFFFFF;
$footer-color:#39394D;
$room-background-color: #1A1A1A;
$room-footer-color:#111111;
$room-btn-gray:#A0A0A0;
$room-btn-green:#23D959;
$room-btn-red:#E02828;
$room-btn-select:#424345;
$room-leave-select:#FF0000;



.screen-1-right-container{
    position: relative;
    height: 583px;
    width: 500px;
}
.screen-1-img-1, .screen-1-img-2{
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.2rem gray);
    
}
.screen-1-img-2{
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: -1;
 
}

.screen-1{
    width: 1200px;
    overflow: hidden;
    height: calc(100vh - 153px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.screen-1-btn-container{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
}

.screen-1-sign-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color:$zoom-blue;
    border-radius: 8px;
    border: 1px solid  #e5e5e5;
    border: none;
    font-weight: 700;
    color: $zoom-white;
    transition: 0.3s;
    cursor: pointer;
}

.screen-1-host-btn,.screen-1-join-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    background-color:$zoom-blue;
    border-radius: 8px;
    border: 1px solid  #e5e5e5;
    border: none;
    font-weight: 700;
    color: $zoom-white;
    transition: 0.3s;
    cursor: pointer;
}

.screen-1-host-btn:hover, .screen-1-join-btn:hover{
    background-color:$zoom-select-blue;
}

.screen-1-sign-in-btn:hover{
    background-color:$zoom-select-blue;
}
.screen-1-sign-up-link{
    cursor: pointer;
    color: $zoom-blue;
    transition: 0.3s;
}

.screen-1-sign-up-link:hover{
    color: $zoom-select-blue;
    text-decoration: underline;
}

.screen-1-title{
    font-size: 36px;
    font-weight: 700;
}

.screen-1-description{
    margin-top: 50px;
    line-height: 30px;
    font-size: 20px;
}
.screen-1-keyword{
    color: $zoom-blue;
}


.screen-2{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    flex-direction: column;
}
.screen-2-bottom-container{
    
    margin: auto;
    display: flex;
    justify-content: center;
}

.screen-2-bottom-set-container{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    margin: auto;
}
.screen-2-top-container{
    display: flex;    
    align-items: center;
    width: 100%;
}

.screen-2-top-title{
    background-color: $zoom-blue;
    color: $zoom-white;
    font-size: 30px;
    font-weight: 700;
    height: 100px;
    width: 20%;
    text-align: center;
    line-height: 100px;
}

.screen-2-top-description{
    background-color: $room-background-color;
    color: $zoom-white;
    font-size: 30px;
    font-weight: 700;
    height: 100px;
    flex: auto;
    text-align: center;
    line-height: 100px;
 
}

.screen-2-bottom-feature-icon{
    width: 30px;
    object-fit: cover;
}

.screen-2-bottom-feature-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.screen-2-bottom-img-container{
    display: flex;
    gap: 20px;
}

.screen-2-bottom-demo-img{
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.2rem gray);
}

.screen-2-bottom-hand-pose-img{
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.2rem gray);
}

.screen-2-bottom-feature-list-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.screen-2-bottom-title{
    font-size: 30px;
    font-weight: 700;
}

.screen-2-bottom-description{
    font-size: 20px;
}

.slider{
    position: relative;
    width: 1200px;
    height: calc(100vh - 150px);
    margin: auto;
    overflow: hidden;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }

  .navigation{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
    
  }

  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 50px;   
    line-height: 40px;
    cursor: pointer;
    height: 50px;
    filter: drop-shadow(0 0 0.2rem gray);
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-30px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: $zoom-blue;
  }
  